/*
 * grid.styl
 *
 * https://github.com/melchior-b/grid.styl
 */

// class names
row-class     ?= 'row'
column-class  ?= 'col'
offset-class  ?= 'off'

// grid settings
gutter-size   ?= 20px

// clear fix
clearfix()
  &:after
    content ""
    display table
    clear both

// grid gutter
gutter(size)
  &
    margin-left -(size)

    [class*={'"' + column-class + '"'}]
      padding-left size

// add row styles to selector
row()
  clearfix()
  gutter(gutter-size)

  &.half-gutter
    gutter(gutter-size / 2)

  &.no-gutter
    gutter(0)

// add column styles to selector
column(a, b, setup = true)
  width (a / b * 100)%

  if setup
    -webkit-box-sizing border-box
    -moz-box-sizing border-box
    box-sizing border-box
    float left
    padding-left gutter-size

// add offset styles to selector
offset(a, b)
  margin-left (a / b * 100)%

// one column
setup-column(a, b, name = '')
  value = (a / b * 100)% 

  if name
    .{column-class}-{name}-{a}-{b}
      column(a, b, false)

    if a < b
      .{offset-class}-{name}-{a}-{b}
        margin-left value

  else
    .{column-class}-{a}-{b}
      column(a, b, false)

    if a < b
      .{offset-class}-{a}-{b}
        margin-left value

// set of columns
setup-columns(name = '')
  if name
    .{column-class}-{name}
      width 100%
  else
    .{column-class}
      width 100%

  for a in 2 3 4 5
    for n in 1..a
      setup-column(n, a, name)

    if name
      .{row-class}-{name}-{a} .{column-class}
        column(1, a, false)
    else
      .{row-class}-{a} .{column-class}
        column(1, a, false)

  if name
    .show-{name}
      display block

    .hide-{name}
      display none

// show class
[class*="show-"]
  display none

// grid layout
@media only screen and (min-width: 481px)
  .{row-class}
    row()

  [class*={'"' + column-class + '"'}]
    -webkit-box-sizing border-box
    -moz-box-sizing border-box
    box-sizing border-box
    float left

  setup-columns()
