/*
 * grid.styl
 *
 * https://github.com/melchior-b/grid.styl
 */

// class names
row-class     ?= 'row'
column-class  ?= 'col'
offset-class  ?= 'off'

// grid settings
gutter-size   ?= 20px

// clear fix
clearfix()
  &:after
    content ""
    display table
    clear both

// grid gutter for rows & columns
gutter(size)
  // margin correction for row
  &
    margin-left -(size)

    // gutter for columns
    [class*={'"' + column-class + '"'}]
      padding-left size

/*
 * add row styles to selector
 * use in selectors to turn elements into rows
 */
row()
  clearfix()
  gutter(gutter-size)

  &.half-gutter
    gutter(gutter-size / 2)

  &.no-gutter
    gutter(0)

/*
 * add column styles to selector
 * use in selectors to turn elements into columns
 */
column(a, b, setup = true)
  width (a / b * 100)%

  if setup
    // correct sizing to include gutter padding
    padding-left gutter-size
    -webkit-box-sizing border-box
    -moz-box-sizing border-box
    box-sizing border-box
    
    float left

/*
 * adds offset to column elements
 * use in selectors to add offset to column elements
 */
offset(a, b)
  margin-left (a / b * 100)%

/*
 * setup one column size and utility classes
 */
setup-column(a, b, name = '')
  // width
  value = (a / b * 100)% 

  // named screen size
  if name
    // column class
    .{column-class}-{name}-{a}-{b}
      column(a, b, false)

    // offset class
    if a < b
      .{offset-class}-{name}-{a}-{b}
        margin-left value

  // default screen size
  else
    // column class
    .{column-class}-{a}-{b}
      column(a, b, false)

    // offset class
    if a < b
      .{offset-class}-{a}-{b}
        margin-left value

/*
 * setup all column sizes and utility classes
 * use in selectors to create columns for one screen size
 */
setup-columns(name = '')
  // full width columns
  if name
    .{column-class}-{name}
      width 100%
  else
    .{column-class}
      width 100%

  // 1/2,3,4,5 fraction sizes
  for a in 2 3 4 5
    // columns
    for n in 1..a
      setup-column(n, a, name)

    // row sizes
    if name
      .{row-class}-{name}-{a} .{column-class}
        column(1, a, false)
    else
      .{row-class}-{a} .{column-class}
        column(1, a, false)

  // visibility helpers
  if name
    .show-{name}
      display block

    .hide-{name}
      display none

// visibility helper (hidden)
[class*="show-"]
  display none

// standard grid layout for screen sizes over 481px
@media only screen and (min-width: 481px)
  // row
  .{row-class}
    row()

  // columns
  [class*={'"' + column-class + '"'}]
    -webkit-box-sizing border-box
    -moz-box-sizing border-box
    box-sizing border-box
    float left

  setup-columns()
